{% extends 'base.html' %}
{% block title %} establishments {% endblock %}
{% block content %}

<table class="table table-striped">
    {% load cache %}
<!--    показал возможности :)-->
    {% cache 10800 sidebar %}
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">address</th>
      <th scope="col">category</th>
        <th scope="col">phone</th>
    </tr>
  </thead>
    {% endcache %}
  <tbody>
{% for establishment in establishments %}
    <tr>

           <td>{{ establishment.name }}</td>
           <td>{{ establishment.address }}</td>
        <td>{{ establishment.get_category_display }}</td>
        <td>{{ establishment.phone }}</td>

    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}