{% extends 'base.html' %}

{% block title %} friends {% endblock %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">surname</th>
      <th scope="col">age</th>
         <th scope="col">sex</th>
      <th scope="col">email</th>
        <th scope="col">city</th>
        <th scope="col">hobbies</th>
        <th scope="col">ratings</th>
    </tr>
  </thead>
  <tbody>
{% for friend in friends %}
    <tr>

           <td>{{ friend.name }}</td>
           <td>{{ friend.surname }}</td>
        <td>{{ friend.age }}</td>
        <td>{{ friend.sex }}</td>
        <td>{{ friend.city }}</td>
        {% if friend.email%}
            <td>{{ friend.email }}</td>
        {% else %}
            <td></td>
        {% endif %}
        <td>
            {% for hobby in friend.hobbies_set.all %}
            {{hobby}},
            {% endfor %}
        </td>
        <td>
            {% for rating in friend.userrating_set.all %}
            {{rating}},
            {% endfor %}
        </td>



    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}