{% extends 'base.html' %}

{% block title %} friends {% endblock %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">age</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
{% for name,info in friends.items %}
    <tr>

           <td>{{ name }}</td>
           {% for inf in info %}
               <td>{{ inf }}</td>
           {% endfor %}

    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}