{% extends 'base.html' %}

{% block title %} Host {% endblock %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">surname</th>
      <th scope="col">age</th>
         <th scope="col">sex</th>
      <th scope="col">email</th>
        <th scope="col">sity</th>
    </tr>
  </thead>
  <tbody>
{% for friend in friends %}
    <tr>

           <td>{{ friend.name }}</td>
           <td>{{ friend.surname }}</td>
        <td>{{ friend.age }}</td>
        <td>{{ friend.sex }}</td>
        <td>{{ friend.city }}</td>
        {% if friend.email%}
            <td>{{ friend.email }}</td>
        {% else %}
            <td>Email not found</td>
        {% endif %}



    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}